.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  opacity: .9;
}

.buttonRow {
  display: flex; 
  justify-content: space-between;
}

.buttonRow button{
  height: 45px; 
  width: 180px;
  background:#355a7a; 
  color: white;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-right: 10px;
  margin-top: 1rem;
}

.buttonRow button p{
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin: 0;
  font-weight: 800;
}

.headerContainer {
    position: relative;
    
}


.headerContainer aside {
  margin-left: 10rem;  
  margin-bottom: 10rem;
}


aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radar aside,
footer aside {
  align-items: flex-start;
}

.bg {
  background-image: url("../../assets/images/wattwattHeader.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 45vw;
  height: 100%;
  top: -5rem;
  right: 0;
  z-index: 10;
}

.benefit-cards {
  width: 60%;
}

.benefits .title {
  color: var(--color-1);
}

ea-services {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

app-ea-industries {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.expandable {
  height: 50vh;
  background: var(--background-2)
}

.industries {
  min-height: 50vh;
  background: var(--background-1)
}

.title .cover {
  background: var(--background-1)
}

.case-studies {
  width: 100%;
  flex-wrap:wrap;
}
