
<footer>
  <aside>
    <h2>WattWatt</h2>
    <h3>Ethereum-based solar energy financing</h3>
    <main>
      <a href="https://github.com/wattwattenergy" target="_blank"><img src="../../assets/images/github.svg"/></a>
      <a href="https://twitter.com/wattwattenergy" target="_blank"><img src="../../assets/images/twitterWhite.svg" /></a>
      <a href="https://www.youtube.com/channel/UCgtn4kRGfcscD--zlEqlmaA?view_as=subscriber" target="_blank"><img src="../../assets/images/youtube.svg" /></a>
      <a href="https://medium.com/wattwattenergy" target="_blank"><img src="../../assets/images/medium.svg" /></a>
      <a href="https://discord.gg/vqWYcCj" target="_blank"><img src="../../assets/images/discord.svg"/></a>
    </main>
  </aside>
  <!-- <main>
    <ul>
      <li>Resources</li>
      <li><span class="hvr-underline-from-center"> <a style="text-decoration: none; color: white;" href="https://eang.io"> White Paper </a></span></li>
    </ul>
    <ul>
      <li>Case Studies</li>
      <li><span class="hvr-underline-from-center"> <a style="text-decoration: none; color: white;" href="#studies">  </a></span></li>
      <li><span class="hvr-underline-from-center"><a style="text-decoration: none; color: white;" href="#studies">Enterprise Apps</a></span></li>
      <li><span class="hvr-underline-from-center"><a style="text-decoration: none; color: white;" href="#studies">Real-time Reporting</a></span></li>
    </ul>
    <ul>
      <li>Services</li>
      <li><span class="hvr-underline-from-center">Solar Energy Financing</span></li>
      <li><span class="hvr-underline-from-center">Funding Opportunity Verification</span></li>
    </ul>
    <ul>
      <li>Contact</li>
      <li><span class="hvr-underline-from-center">Twitter</span></li>
    </ul>
  </main> -->


</footer>
